@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .section-title {
        @apply text-3xl font-semibold mt-2;
    }

    .section-subtitle {
        @apply font-light text-teal-500;
    }

    .animate-marquee-right {
        animation: marqueeRight 2s linear infinite;
    }
    .animate-marquee-left {
        animation: marqueeLeft 2s linear infinite;
    }

    .sibling-z-10 {
        position: relative !important;
        z-index: 10;
    }

    .social-bar-link:first-child {
        @apply rounded-tr;
    }

    .social-bar-link:last-child {
        @apply rounded-br;
    }
}

@layer utilities {
    @keyframes marqueeRight {
        from {
            transform: translateX(0);
        }
        to {
            transform: translateX(100%);
        }
    }

    @keyframes marqueeLeft {
        from {
            transform: translateX(-100%);
        }
        to {
            transform: translateX(0);
        }
    }
}
